<section id="priemyshestva" class="section-padding  bg-gray">
    <div class="container text-center justify-content-center">
      <div class="section-header">
        <h1>Наши преимущества</ h1>
      </div>
      <div class="section-header">

        <!-- <h1 class="section-title wow fadeInDown">Нащи преимущества</h1> -->
        <div class="shape wow fadeInDown"></div>
        <div class="about-area">
          <div class="row">
              <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                  <i class="lni-map"></i>
                  <!-- <img src="assets/img/feature/percent_big.png"> --> 
                  Наличие 
                в Москве и Наб.Челнах</div>
            <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                <i class="lni-medall"></i>
                <!-- <img src="assets/img/feature/warranty.png"></i> -->
                Гарантия на все агрегаты</div>
            <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                <i class="lni-users"></i>
              <!-- <img src="assets/img/feature/customer.png"> -->
              4 тысячи <br> клиентов</div>
            <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                <i class="lni-delivery"></i>
              <!-- <img src="assets/img//feature/delivery.png"> -->
              Доставка по всей России</div>
           


          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="about-area">
            <div class="site-heading text-center">
              <!-- <h2 class="section-title">О компании</h2> -->
            </div>
            <div class="content" style="padding-top:3em;">
              <div class="blog-lg-area-left">
                <p style="text-align: justify;font-size: 1.2em;">ООО «ЧелныАгрегатЦентр» более десяти лет
                  специализируется на оптовой
                  торговле запасными частями и комплектующими для автомобилей КАМАЗ, а также поставке запчастей в
                  магазины и автотранспортные предприятия.</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>